# Welcome to "CrushPython"

__So whether you eat or drink or whatever you do, do it all for the glory of God.__ 
1 Corinthians 10:31


------

__NOTE:__ The following materials have been compiled and adapted from the numerous sources including Python and Canopy web sites including my own. Please help me to keep this tutorial up-to-date by reporting any issues or questions. Send any comments or criticisms to `idebtor@gmail.com` Your assistances and comments will be appreciated.

---------

# Lesson - Iteration(For loop with range)

------------

# 1. Iteration using for loop  

Often the program needs to repeat some code many times. That's where the loops come in handy. There are `for` and `while` loop operators in Python, in this lesson we cover for.

The `for` loop iterates over any sequence. For instance, any string in Python is a sequence of its characters, so we can iterate over them using for:

#### Example 1: Using `for` loop, print `hello` one character per line.
Expected output:

```
h
e
l
l
o
```

In [ ]:
# print each letter using for loop
for char in 'hello':
    None

In [3]:
for char in range(5):
    print(char)

0
1
2
3
4

#### Example 2: Using `for` loop, print `hello` in one line.

Expected output:

```
h e l l o 
```

__Hint__: By default, the function `print()` prints all its arguments separating them by a space and the puts a newline symbol after it. This behavior can be changed using keyword arguments `sep` (separator) and `end`.

In [6]:
# print each letter using for loop in a row
for char in 'hello':
    print(char, end=' ')

h e l l o

In [4]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.


#### Example 3: Using `for` loop, print `hello` in one line wihtout spaces between chars.

Expected output:
```
hello
```

In [8]:
# print each letter using for loop in a row without spaces
for char in 'hello':
    print(char, end='')

hello

#### Example 4: Modify the following code cell to produce the following output.

Expected output:

```
1 2 3
4 5 6
1,2,3,4,5,6
123--456
```

#### my solution:

In [15]:
print(1, 2, 3)  # ok
print(4, 5, 6)  # ok
print(1, 2, 3, sep=',', end=',')
print(4, 5, 6, sep=',')
print(1, 2, 3, sep='', end='--')
print(4, 5, 6, sep='')

1 2 3
4 5 6
1,2,3,4,5,6
123--456

# 2. Iteration with for loop & range()

Another use case for a for-loop is to iterate some integer variable in increasing or decreasing order. Such a sequence of integer can be created using the built-in function `range()`. The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

__Syntax__

```
class range(stop)
    - returns a sequence of numbers starting from 0 to stop - 1
class range(start, stop[, step])
    - returns the range of integers end at stop - 1.
```

__Parameters__

- `start` - integer starting from which the sequence is returned
- `stop`  - integer before which the sequence of integers is to be returned.
- `step` (Optional) - integer value which determines the step in the sequence
    
The function `range(stop)` means that `start` is implicitly set to `0`:

#### Example 1: Generate numbers from 0 to 5 and print them as shown below:
```
0, 1, 2, 3, 4, 5, 
```

- Check what `range(6)` returns.

In [18]:
iter = range(6)
print(iter)
for i in range(6):
    print(i, end=', ')

range(0, 6)
0, 1, 2, 3, 4, 5,

### Using `start` and `end` parameters in `range()`

- Function `range(start, stop)` generates a sequence with numbers `start, start + 1, ..., start - 1`. 
- __The last number in `stop` is not included__.

#### Example 2: Print the table of n cubed where n is 1 to 10 as shown below:

```
1 cubed is 1
2 cubed is 8
3 cubed is 27
4 cubed is 64
5 cubed is 125
6 cubed is 216
7 cubed is 343
8 cubed is 512
9 cubed is 729
10 cubed is 1000
```

In [21]:
for i in range(1, 11):
    print(i, i ** 3, sep = ' cubed is ')

1 cubed is 1
2 cubed is 8
3 cubed is 27
4 cubed is 64
5 cubed is 125
6 cubed is 216
7 cubed is 343
8 cubed is 512
9 cubed is 729
10 cubed is 1000

#### Example 3: Given an integer n = 10, sum number from 1 to n, inclusively.

Expected output:
```
Sum from 1 to 10 is 55
```

In [31]:
n = 1000
sum = 0
for x in range(n + 1):
    sum += x

print('Sum from 1 to {} is {}'.format(n, sum))

Sum from 1 to 1000 is 500500

#### Example 4: sum_to_n(n)

- Generalize this capability of summing up to `n`. In other words, write a function, `sum_to_n(n)`, such that it returns 55 when `sum_to_n(10)` is invoked. 
- Complete the following code cells to sum the integers from `1` to `n` inclusively. 

```
Sum from 1 to 10 is 55
Sum from 1 to 100 is 5050
Sum from 1 to 1000 is 500500
Sum from 1 to 10000 is 50005000
```

In [41]:
# function to sum upto n inclusively.
def sum_to_n(n):
    sum = 0
    for x in range(n + 1):
        sum += x
    return sum

In [45]:
# For testing
for n in [10, 100, 1000, 10000]:
    print('Sum from 1 to {} is {}'.format(n, sum_to_n(n)))

Sum from 1 to 10 is 55
Sum from 1 to 100 is 5050
Sum from 1 to 1000 is 500500
Sum from 1 to 10000 is 50005000

Pay attention that maximum value in `range()` is `n + 1` to make `i` equal to `N` on the last step.

To iterate over a decreasing sequence, we can use an extended form of `range()` with three arguments - `range(start, end, step)`. When omitted, the `step` is implicitly equal to `1`. However, can be any non-zero value. The loop always includes `start` and excludes `end` during iteration:

#### Example 5: 

Count down a number starting n and print `blast off`. Complete the code to produce the following output when N = 5.

```
5
4
3
2
1
blast off
```

#### Using a negative step size `-1`

In [46]:
N = int(input("Enter N: "))
for n in range(N, 0, -1):
    print(n)
print('blast off')

Enter N: 5
5
4
3
2
1
blast off

#### Using `range(N)`

In [48]:
N = int(input("Enter N: "))
for i in range(N):
    print(N - i)
print('blast off')

Enter N: 5
5
4
3
2
1
blast off

# Enumerate()

Python gives you the luxury of iterating directly over the values of the list (or iterables) which is most of the time what you need. However, there are times when you actually need the index of the item as well.

__Syntax__:
```
enumerate(iterable, start=0)
```

__Parameters__:
- `iterable`: any object that supports iteration
- `start`: the index value from which the counter is to be started, by default it is 0

              
#### Example 1: Print a list in three different ways.

Given list of car names, `cars = ['kia', 'audi', 'bmw', 'genesis']`, list car names with sequential numbers.


#### Expected output(Case 1):

```
kia
audi
bmw
genesis
```

In [49]:
cars = ['kia', 'audi', 'bmw', 'genesis']
for car in cars:
    print(car)

kia
audi
bmw
genesis

#### Expected output(Case 2):
```
(1, 'kia')
(2, 'audi')
(3, 'bmw')
(4, 'genesis')
```

In [52]:
for car in enumerate(cars, 1):
    print(type(car))
    print(car)

<class 'tuple'>
(1, 'kia')
<class 'tuple'>
(2, 'audi')
<class 'tuple'>
(3, 'bmw')
<class 'tuple'>
(4, 'genesis')

#### Expected output(Case 3):
```
1 kia
2 audi
3 bmw
4 genesis
```

In [54]:
for i, car in enumerate(cars, 1):
    print(i*2, car)

2 kia
4 audi
6 bmw
8 genesis

#### Example 2: Print a list with its index

Given list of names, `friends = ['Jane', 'Peter', 'John', 'Lee']`, modify the code cell such that it prouce the list with sequential numbers.

```
1: Jane
2: Peter
3: John
4: Lee
```

####  Solution 1: Using an index but without using enumerate()

In [71]:
friends = ['Jane', 'Peter', 'John', 'Lee', 'kim', 'Kang']
for i in range(len(friends)):
    print(i + 1, friends[i], sep=': ')

1: Jane
2: Peter
3: John
4: Lee
5: kim
6: Kang

####  Solution 2: Using enumerate()

In [56]:
friends = ['Jane', 'Peter', 'John', 'Lee']
for i, friend in enumerate(friends, 1):
    print(i, friend, sep=': ')

1: Jane
2: Peter
3: John
4: Lee

## Exercises [모인활 숙제]

#### 1. Count to N

Get an integer N from the user, print all the numbers from 1 to N twice as shown below.
```
1
2
3
4
5
1 2 3 4 5
```

In [ ]:
N = int(input("Enter N: "))
None

#### 2. Print even numbers twice

Given an integer N, print all even numbers from 0 to N in ascending order and descending order

Sample runs:
```
Enter N: 5
0 2 4 
4 2 0

Enter N: 10
0 2 4 6 8 10 
10 8 6 4 2 0

Enter N: 11
0 2 4 6 8 10 
10 8 6 4 2 0

Enter N: 14
0 2 4 6 8 10 12 14 
14 12 10 8 6 4 2 0
```

1 2 3 4 5

In [ ]:
N = int(input("Enter N: "))

#### 3. Ladder 

For given integer n ≤ 9 print a ladder of n steps. The k-th step consists of the integers from 1 to k without spaces between them.
To do that, you can use the sep and end arguments for the function print().

```
Enter N: 5
1
12
123
1234
12345

Enter N: 3
1
12
123
```

In [ ]:
N = int(input('Enter N: '))

None

#### 4. Another Stair
For given positive integer N ≤ 9 print a stair of N steps. The k-th step consists of k of 1's  without spaces between them.
To do that, you can use the sep and end arguments for the function print().

```
Enter N: 5
1
11
111
1111
11111

Enter N: 4
1
11
111
1111
```

#### 5. Yet Another Stair

For given positive integer N ≤ 9 print a stair of N steps. The k-th step consists of the integers from k to 1 without spaces between them.
To do that, you can use the sep and end arguments for the function print().

```
Enter N: 5
1
21
321
4321
54321

Enter N: 4
1
21
321
4321
```

In [ ]:
N = int(input('Enter N: '))
None

---------
__"Everything is permissible" - but not everything is beneficial. "Everything is permissible" - but not everything is constructive.__
1 Corinthians 10:23